In [1]:
import nltk, random
from nltk.corpus import reuters
import pandas as pd

# Download the dataset
nltk.download('reuters')

from sklearn.datasets import fetch_20newsgroups
import random

[nltk_data] Downloading package reuters to D:\ProgramData\nltk_data...
[nltk_data]   Package reuters is already up-to-date!

In [2]:


# Load the dataset
newsgroups = fetch_20newsgroups(subset='all', categories=None)

# Randomly sample 100 documents
sample_indices = random.sample(range(len(newsgroups.data)), 100)
sampled_data = [newsgroups.data[i] for i in sample_indices]
sampled_labels = [newsgroups.target[i] for i in sample_indices]

print(f"Sampled Data: {sampled_data[:1]}")
print(f"Sampled Label: {newsgroups.target_names[sampled_labels[0]]}")

Sampled Data: ['From: tffreeba@indyvax.iupui.edu\nSubject: Re: PLANETS STILL: IMAGES ORBIT BY ETHER TWIST\nLines: 3\n\nThey must be shipping that good Eau Clair acid to California now.\n\nTom Freebairn \n']
Sampled Label: sci.space

In [10]:
# Convert to a DataFrame
df_20newsgroups = pd.DataFrame({
    'text': newsgroups.data,
    'target': newsgroups.target
})

# Map the numeric target to the descriptive topic name
df_20newsgroups['target_name'] = df_20newsgroups['target'].apply(
    lambda x: newsgroups.target_names[x]
)
print('df_20newsgroups.shape:', df_20newsgroups.shape)
print('df_20newsgroups.info():', df_20newsgroups.info())
df_20newsgroups.head()

df_20newsgroups.shape: (18846, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18846 entries, 0 to 18845
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   text         18846 non-null  object
 1   target       18846 non-null  int32
 2   target_name  18846 non-null  object
dtypes: int32(1), object(2)
memory usage: 368.2+ KB
df_20newsgroups.info(): None

,text,target,target_name
0,From: Mamatha Devineni Ratnam <mr47+@andrew.cm...,10,rec.sport.hockey
1,From: mblawson@midway.ecn.uoknor.edu (Matthew ...,3,comp.sys.ibm.pc.hardware
2,From: hilmi-er@dsv.su.se (Hilmi Eren)\nSubject...,17,talk.politics.mideast
3,From: guyd@austin.ibm.com (Guy Dawson)\nSubjec...,3,comp.sys.ibm.pc.hardware
4,From: Alexander Samuel McDiarmid <am2o+@andrew...,4,comp.sys.mac.hardware

In [15]:
set_of_target_names = set(list(df_20newsgroups['target_name']))
print(len(set_of_target_names))
set_of_target_names

20

{'alt.atheism',
 'comp.graphics',
 'comp.os.ms-windows.misc',
 'comp.sys.ibm.pc.hardware',
 'comp.sys.mac.hardware',
 'comp.windows.x',
 'misc.forsale',
 'rec.autos',
 'rec.motorcycles',
 'rec.sport.baseball',
 'rec.sport.hockey',
 'sci.crypt',
 'sci.electronics',
 'sci.med',
 'sci.space',
 'soc.religion.christian',
 'talk.politics.guns',
 'talk.politics.mideast',
 'talk.politics.misc',
 'talk.religion.misc'}

In [3]:


# Get a list of documents
documents = reuters.fileids()
random.shuffle(documents)

# Sample 100 documents
sample_docs = documents[:100]
sample_data = [reuters.raw(doc_id) for doc_id in sample_docs]
sample_labels = [reuters.categories(doc_id) for doc_id in sample_docs]

print(f"Sampled Document: {sample_data[0]}")
print(f"Sampled Labels: {sample_labels[0]}")

Sampled Document: STERIVET &lt;STVTF> SETS THREE-FOR-ONE SHARE SPLIT
  Sterivet Laboratories Ltd said the
  board authorized a three-for-one split of its outstanding
  common shares, subject shareholder approval at the annual
  meeting.



Sampled Labels: ['earn']

In [4]:
sample_labels

[['earn'],
 ['trade'],
 ['grain', 'wheat'],
 ['earn'],
 ['acq'],
 ['grain'],
 ['earn'],
 ['grain', 'wheat'],
 ['trade'],
 ['acq'],
 ['acq'],
 ['acq'],
 ['trade'],
 ['acq'],
 ['acq'],
 ['earn'],
 ['money-fx'],
 ['coffee'],
 ['earn'],
 ['dlr', 'money-fx'],
 ['jobs'],
 ['cpi'],
 ['interest'],
 ['earn'],
 ['acq'],
 ['earn'],
 ['earn'],
 ['trade'],
 ['jobs'],
 ['earn'],
 ['acq'],
 ['trade'],
 ['alum'],
 ['interest', 'money-fx'],
 ['bop', 'trade'],
 ['hog', 'livestock'],
 ['acq'],
 ['acq'],
 ['cpi'],
 ['earn'],
 ['earn'],
 ['grain', 'wheat'],
 ['money-fx'],
 ['crude', 'nat-gas'],
 ['sugar'],
 ['acq'],
 ['acq'],
 ['earn'],
 ['acq'],
 ['earn'],
 ['nat-gas'],
 ['acq'],
 ['meal-feed', 'oilseed'],
 ['platinum'],
 ['earn'],
 ['acq'],
 ['acq', 'ship'],
 ['orange'],
 ['grain', 'wheat'],
 ['tin'],
 ['earn'],
 ['acq'],
 ['crude', 'nat-gas'],
 ['cocoa'],
 ['acq'],
 ['earn'],
 ['acq'],
 ['oilseed', 'rapeseed'],
 ['tea'],
 ['earn'],
 ['acq'],
 ['crude'],
 ['acq'],
 ['acq'],
 ['acq'],
 ['money-supply'],
 ['crude'],
 ['earn'],
 ['earn'],
 ['earn'],
 ['earn'],
 ['corn', 'grain'],
 ['interest', 'money-fx'],
 ['earn'],
 ['earn'],
 ['earn'],
 ['earn'],
 ['interest', 'money-fx'],
 ['earn'],
 ['earn'],
 ['livestock'],
 ['crude'],
 ['earn'],
 ['crude'],
 ['oilseed', 'soybean'],
 ['acq'],
 ['earn'],
 ['acq'],
 ['gnp', 'interest', 'money-fx', 'trade'],
 ['earn']]

In [7]:
# Create a list of dictionaries, one dict per file/document
docs = []
for fileid in reuters.fileids():
    docs.append({
        "fileid": fileid,
        "text": reuters.raw(fileid),
        "categories": reuters.categories(fileid),
        # Optionally, you can include tokenized forms if needed:
        # "words": reuters.words(fileid),
        # "sentences": reuters.sents(fileid)
    })

# Convert the list of dicts into a DataFrame
df_reuters = pd.DataFrame(docs)

# Print a sample
print('df_reuters.shape:', df_reuters.shape)
print('df_reuters.info():', df_reuters.info())
df_reuters.head()

df_reuters.shape: (10788, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10788 entries, 0 to 10787
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fileid      10788 non-null  object
 1   text        10788 non-null  object
 2   categories  10788 non-null  object
dtypes: object(3)
memory usage: 253.0+ KB
df_reuters.info(): None

,fileid,text,categories
0,training/8722,STERIVET &lt;STVTF> SETS THREE-FOR-ONE SHARE S...,[earn]
1,training/4156,CANADA LEADERS FAIL TO SET PACT ON FREE TRADE\...,[trade]
2,training/4473,"U.S. EXPORTERS REPORT 120,000 TONNES WHEAT PU...","[grain, wheat]"
3,training/1269,F.W. WOOLWORTH'S &lt;Z> 1986 PROFITS RISE 21 P...,[earn]
4,training/2637,HAWKER SIDDELEY OFFER FOR CLAROSTAT &lt;CLR> E...,[acq]

In [14]:
import itertools

unique_categories = set(itertools.chain.from_iterable(df_reuters['categories']))
print(len(unique_categories))
unique_categories

90

{'acq',
 'alum',
 'barley',
 'bop',
 'carcass',
 'castor-oil',
 'cocoa',
 'coconut',
 'coconut-oil',
 'coffee',
 'copper',
 'copra-cake',
 'corn',
 'cotton',
 'cotton-oil',
 'cpi',
 'cpu',
 'crude',
 'dfl',
 'dlr',
 'dmk',
 'earn',
 'fuel',
 'gas',
 'gnp',
 'gold',
 'grain',
 'groundnut',
 'groundnut-oil',
 'heat',
 'hog',
 'housing',
 'income',
 'instal-debt',
 'interest',
 'ipi',
 'iron-steel',
 'jet',
 'jobs',
 'l-cattle',
 'lead',
 'lei',
 'lin-oil',
 'livestock',
 'lumber',
 'meal-feed',
 'money-fx',
 'money-supply',
 'naphtha',
 'nat-gas',
 'nickel',
 'nkr',
 'nzdlr',
 'oat',
 'oilseed',
 'orange',
 'palladium',
 'palm-oil',
 'palmkernel',
 'pet-chem',
 'platinum',
 'potato',
 'propane',
 'rand',
 'rape-oil',
 'rapeseed',
 'reserves',
 'retail',
 'rice',
 'rubber',
 'rye',
 'ship',
 'silver',
 'sorghum',
 'soy-meal',
 'soy-oil',
 'soybean',
 'strategic-metal',
 'sugar',
 'sun-meal',
 'sun-oil',
 'sunseed',
 'tea',
 'tin',
 'trade',
 'veg-oil',
 'wheat',
 'wpi',
 'yen',
 'zinc'}